PORT=5000
MONGO_URI=mongodb://edsondev20_db_user:mgb14tY4C5ASWswV@ac-paefn3j-shard-00-00.rloevwz.mongodb.net:27017,ac-paefn3j-shard-00-01.rloevwz.mongodb.net:27017,ac-paefn3j-shard-00-02.rloevwz.mongodb.net:27017/financafacil?ssl=true&replicaSet=atlas-hgf4zt-shard-0&authSource=admin&retryWrites=true&w=majority
JWT_SECRET=financafacil_secret_key_2024
